.app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, blue, pink);
}

form{
  background-color: #ffffff;
  padding: 0 60px;
  border-radius: 10px;
}

h1 {
  color: blueviolet;
  text-align: center;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgb(70, 29, 108);
  font-weight: bold;
  color: white;
  font-size: 18px;
  margin: 12px auto 8px auto;
  cursor: pointer;
}